body {
  background-color: rgba(0, 20, 100, 0.3);
}

h1 {
  font-family: "Lobster";
  color: #faebd7;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

h2 {
  font-family: "Crimson Pro", sans-serif;
  font-size: 22px;
  margin: auto;
}

h4 {
  font-family: "Crimson Pro", sans-serif;
  margin: auto;
  color: antiquewhite;
  font-size: 22px;
}

#need-info {
  margin-top: 10px;
  margin-left: 15px;
  color: white;
}

p {
  font-size: 20px;
}

label {
  font-size: 20;
  color: rgba(0, 20, 100, 1);
}

#heading-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

#question-box {
  width: 400px;
  height: 780px;
  border-radius: 6px;
  margin: 15px auto;
  background-color: rgba(0, 20, 100, 0.4);
}

form {
  margin: 10px;
  font-family: "Crimson Pro", sans-serif;
  margin: 14px;
  color: antiquewhite;
}

button {
  font-family: "Crimson Pro", sans-serif;
  font-size: medium;
  margin-top: 20px;
  margin-left: 6px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: rgba(0, 20, 100, 0.6);
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #93d7f4;
  color: white;
}

.button:active {
  transform: translateY(4px);
}

.we-suggest {
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.javaScript-screen {
  font-family: "Lobster";
  color: rgba(0, 20, 20, 0.1);
  font-size: 40px;
  margin: auto;
}

.react-screen {
  font-family: "Lobster";
  color: rgba(0, 20, 20, 0.1);
  font-size: 40px;
  margin: auto;
}

.ruby-screen {
  font-family: "Lobster";
  color: rgba(0, 20, 20, 0.1);
  font-size: 40px;
  margin: auto;
}

.python-screen {
  font-family: "Lobster";
  color: rgba(0, 20, 20, 0.1);
  font-size: 40px;
  margin: auto;
}

#languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#js-container {
  background-color: rgba(0, 20, 100, 0.3);
  border-radius: 10px;
  width: 360px;
  height: 60px;
  margin: 2px auto 2px auto;
}

#python-container {
  background-color: rgba(0, 20, 100, 0.3);
  border-radius: 10px;
  width: 360px;
  height: 60px;
  margin: 2px auto 2px auto;
}

#react-container {
  background-color: rgba(0, 20, 100, 0.3);
  border-radius: 10px;
  width: 360px;
  height: 60px;
  margin: 2px auto 2px auto;
}

#ruby-container {
  background-color: rgba(0, 20, 100, 0.3);
  border-radius: 10px;
  width: 360px;
  height: 60px;
  margin: 2px auto 2px auto;
}
